* ::before ::after {
  box-sizing: border-box;
}

body{
    margin-left: 0;
    margin-right: 0;
}


/* First Preview */

.first-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.first-preview p {
  margin: 0;
}

.first-preview_intro {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.first-preview_logo {
  display: flex;
  justify-content: center;
}

.first-preview_logo img {
  width: 200px;
}

.first-preview_navigation {
  display: flex;
  background-color: #c5c4c4;
  justify-content: center;
  padding: 20px;
}

.first-preview_search {
  display: flex;
  gap: 17px;
}

.first-preview_search input {
  border: none;
  background-color: inherit;
}

.first-preview_search ::placeholder {
  color: black;
  font-weight: bolder;
}
.first-preview_sc {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.first-preview_sc a{
    text-decoration: none;
}

.first-preview_reserve h1{
    margin: 0;
}
.first-preview_btn{
    height: 40px;    
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #9356DC;
    color: white;
    padding: 29px;
}
