@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

@import "Utils/mixin";
@import "Utils/variables";
@import "Utils/functions";
@import "Utils/breakpoints";
@import "Utils/keyframes";
@import "Components/btn.scss";
@import "Components/ico.scss";
@import "Layout/header";
@import "Layout/footer";
@import "Base/typography";
@import "Base/base";

p,
.first-preview__btn {
  @include font;
  font-size: clamp(0.75rem, 0.568rem + 0.5825vw, 1.5rem);
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  background: radial-gradient(#222, #000);
  z-index: 100;
  animation: apparition;
  animation-play-state: running;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation-delay: 2.5s;

  &__text {
    font-size: 100px;
    color: $purple-btn;
    animation: spin 2s;
  }
}

/* FUNCT MAIN & REST MAIN */

.group-main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  gap: 40px;
  @include tab-vp {
    gap: 20px;
  }
}

.funct-main,
.rest-main {
  padding: 60px 100px 60px 100px;
  gap: 30px;
  height: 100%;
  @include tab-vp {
    padding: 60px 50px 60px 50px;
  }

  @include mobile-small-vp {
    padding: 50px 30px 50px 30px;
  }
}

/* Menu */

.main-menu {
  background: whitesmoke;
  position: relative;
  margin-top: -70px;
  border-radius: 50px 50px 0px 0px;
  margin-left: 100px;
  margin-right: 100px;

  @include tab-vp {
    margin-left: 50px;
    margin-right: 50px;
  }

  @include mobile-vp {
    margin-left: 0;
    margin-right: 0;
  }

  &__contain {
    width: -webkit-fill-available;
    background: whitesmoke;
    padding: 23px 100px 60px 100px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;

    @include tab-vp {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include mobile-small-vp {
      padding-left: 20px;
      padding-right: 20px;
      gap: 30px;
    }
  }

  &__first-title {
    font-family: $shrik;
    font-size: clamped(28px, 50px, 500px, 2560px);
  }

  &__type {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    @include mobile-small-vp {
      gap: 20px;
    }

    p {
      margin: 0;
    }
  }

  &__subtitle {
    position: relative;
    width: fit-content;
    padding-bottom: 6px;

    &::after {
      content: "";
      width: 60%;
      height: 15%;
      background: $border-green;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &--plats::after {
      width: 85%;
    }

    &--desserts::after {
      width: 50%;
    }
  }

  &__block {
    @include block;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    animation: menu 2s;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation-fill-mode: both;
    background-color: white;

    &:hover,
    &:active {
      .main-menu__check {
        margin-right: 0;
      }

      .main-menu__icocheck {
        transform: rotate(0deg);
        transition: transform 1s;
      }
    }

    &--delay0 {
      animation-delay: 0ms;
    }

    &--delay1 {
      animation-delay: 0.3s;
    }

    &--delay2 {
      animation-delay: 0.6s;
    }

    &--delay3 {
      animation-delay: 0.9s;
    }

    &--delay4 {
      animation-delay: 1.2s;
    }

    &--delay5 {
      animation-delay: 1.5s;
    }

    &--delay6 {
      animation-delay: 1.8s;
    }

    &--delay7 {
      animation-delay: 2.1s;
    }

    &--delay8 {
      animation-delay: 2.4s;
    }

    &--delay9 {
      animation-delay: 2.7s;
    }
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    &:hover,
    &:active {
      .main-menu__check {
        margin-right: 0;
      }

      .main-menu__icocheck {
        transform: rotate(0deg);
        transition: transform 1s;
      }
    }
  }

  &__icoheart {
    @include icoheart;
  }

  &__block-contain {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
    &:hover,
    &:active {
      .main-menu__check {
        margin-right: 0;
      }

      .main-menu__icocheck {
        transform: rotate(0deg);
        transition: transform 1s;
      }
    }
  }

  &__subname {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    min-width: 0;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-size: clamped(12px, 24px, 500px, 2560px);
    font-weight: bolder;
    padding-left: 20px;
  }

  &__check {
    width: 150px;
    height: 100%;
    background-color: $border-green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -150px;
    transition: 1s;
  }

  &__icocheck {
    font-size: 40px;
    color: white;
    transform: rotate(360deg);
    transition: transform 1s;
  }

  &__btn {
    @include btn;
    font-size: clamped(10px, 20px, 500px, 2560px);
  
  &:hover {
    @include shadow-btn-hover;
  }
}
}

/* FUNCT MAIN */

.funct-main {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__title {
    display: flex;
    align-self: baseline;
  }

  &__contain {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    @include tab-vp {
      flex-direction: column;
      align-items: baseline;
      gap: 40px;
    }
    @include mobile-small-vp {
      gap: 25px;
    }
  }

  &__block {
    flex: 0 0 30%;
    height: 100px;
    background: #f6f6f6;
    position: relative;
    border-radius: 25px;
    gap: 20px;
    padding-right: 15px;
    text-align: center;
    @include shadow-btn;
    @include flex-center;
    @include lightness($little-white);

    &:hover {
      @include shadow-btn-hover;
    }

    @include tab-vp {
      justify-content: flex-start;
      width: 100%;
      flex-basis: auto;
      text-align: unset;
      height: 80px;
    }

    &--purple {
      @include lightness(rgba(146, 86, 220, 0.10));
    }

    p {
      font-weight: 600;
      padding-right: 12px;
    }

    &--menu {
      flex: auto;
    }
  }

  &__num {
    background-color: $purple-btn;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    color: white;
    font-size: clamped(15px, 20px, 500px, 2560px);
    @include flex-center;
  }

  &__ico {
    display: inline-flex;
    font-size: clamped(22px, 45px, 500px, 2560px);
    color: #949494;
    padding-left: 20px;
    @include tab-vp {
      padding-left: 40px;
    }

    &--shop {
      color: $purple-btn;
    }
  }

  &__choose {
    margin: 0;
  }
}

/* REST MAIN */

#rest-main__title {
  align-self: baseline;
}

.rest-main {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__block {
    display: flex;
    flex-flow: column nowrap;
    height: 350px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 50%);
    border-radius: 10px;
    flex: 1 0 47%;

    @include desktop-norm {
      height: 280px;
    }
    @include tab-vp {
      height: 255px;
    }
    @include mobile-small-vp {
      height: 200px;
    }
  }

  &__pic {
    width: 100%;
    height: 73%;
    position: relative;

    img {
      @include picsize;
      border-radius: 10px 10px 0 0;
      object-position: 50% 57%;
    }
  }

  &__new {
    position: absolute;
    background-color: #99e2d0;
    right: 0;
    margin: 10px;
    @include flex-center;
    padding: 10px;

    p {
      color: #30a387;
      margin: 0;
      font-weight: 900;
    }
  }

  &__descr {
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    position: relative;
    justify-content: center;
    height: 100%;
  }

  &__subtitle {
    font-size: clamped(15px, 30px, 500px, 2560px);
    font-weight: 900;

    &--menu {
      font-family: $roboto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: clamped(12px, 24px, 500px, 2560px);

    &--menu {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__icoheart {
    position: absolute;
    align-self: flex-end;
    font-size: clamped(25px, 45px, 500px, 2560px);
    height: 100%;
    display: inline-flex;
    align-items: center;

    &:hover {
      .fa-regular {
        font-weight: bolder;
        font-family: "Font Awesome 6 Free";
        background: linear-gradient(90deg, $pink-btn, $purple-btn);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        cursor: pointer;
      }
    }
  }

  &__contain {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    @include mobile-small-vp {
      row-gap: 25px;
    }
  }
}
