@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

@import "Utils/mixin";
@import "Utils/variables";
@import "Utils/functions";
@import "Utils/breakpoints";
@import "Layout/header";
@import "Layout/footer";
@import "Base/base";
@import "Base/typography";


h1,
h2 {
  @include font;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.25rem, 0.9466rem + 0.9709vw, 2.5rem);
}

p, .first-preview__btn {
  @include font;
  font-size: clamp(0.75rem, 0.568rem + 0.5825vw, 1.5rem);
}

/* FUNCT MAIN & REST MAIN */

.group-main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  gap: 40px;
  @include tab-vp{
    gap: 20px;
  }

  &__menu{
    position: relative;
  }
}

.funct-main,
.rest-main {
  padding: 60px 100px 60px 100px;
  gap: 40px;
  height: 100%;
  @include tab-vp{
    padding: 60px 50px 60px 50px;
  }

  @include mobile-small-vp{
    padding: 60px 30px 60px 30px;
  }
}

/* Menu */

.main-menu__contain{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: whitesmoke;
  padding: 10px;
  border-radius: 97px 93px 0px 49px;

  h2{
    font-family: $shrik;
  }
}



/* FUNCT MAIN */

.funct-main {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__title {
    display: flex;
    align-self: baseline;
  }

  &__contain {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    @include tab-vp{
      flex-direction: column;
      align-items: baseline;
      gap: 50px;
    }
  }

  &__block {
    flex: 0 0 30%;
    height: 100px;
    background: #f6f6f6;
    position: relative;
    border-radius: 25px;
    gap: 20px;
    padding-right: 15px;
    text-align: center;
    @include shadow-btn;
    @include flex-center;
    @include lightness($little-white);
    @include tab-vp{
      justify-content: flex-start;
      width: 100%;
      flex-basis: auto;
      text-align: unset;
      height: 80px;
    
    }
    
    &--purple {
      @include lightness($little-pink);
    }

    p {
      font-weight: 600;
      padding-right: 12px;
    }
  }

  &__num {
    background-color: $purple-btn;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: -15px;
    color: white;
    font-size:clamped(15px, 20px, 500px, 2560px);
    @include flex-center;
  }

  &__ico {
    display: inline-flex;
    font-size:clamped(22px, 45px, 500px, 2560px);
    color: #949494;
    padding-left: 20px;
    @include tab-vp{
      padding-left: 40px;
    }

    &--shop {
      color: $purple-btn;
    }
  }

  &__choose {
    margin: 0;
  }
}

/* REST MAIN */

.rest-main {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__block {
    display: flex;
    flex-flow: column nowrap;
    height: 350px;
    box-shadow: 0px 0px 15px 0px #000000;
    border-radius: 10px;
    flex: 1 0 47%;
    @include tab-vp{
      height: 255px;
    }

  }

  &__pic {
    width: 100%;
    height:73%;
    position: relative;

    img {
      @include picsize;
      border-radius: 10px 10px 0 0;
      object-position: 50% 57%;
    }
  }

  &__new {
    position: absolute;
    background-color: #99e2d0;
    right: 0;
    margin: 10px;
    @include flex-center;
    padding: 10px;

    p {
      color: #30a387;
      margin: 0;
      font-weight: 900;
    }
  }

  &__title {
    align-self: baseline;
  }

  &__descr {
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    position: relative;
    justify-content: center;
    height: 100%;
  }

  &__subtitle {
    font-size:clamped(15px, 30px, 500px, 2560px);
    font-weight: 900;
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size:clamped(12px, 24px, 500px, 2560px);
  }

  &__icoheart {
    position: absolute;
    align-self: flex-end;
    top: 50%;
    margin-top: -14px;
    font-size: 2em;
    
    &:hover {
      .fa-regular.fa-heart{
        font-weight: bolder;
        background: linear-gradient(90deg,$pink-btn, $purple-btn);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        cursor: pointer;
 

      }
    }
  
  }
  
  &__contain {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
  }
}

