/* color */ 
$pink-btn: #ff79da;
$purple-btn: #9356dc;
$black-end: #353535;
$little-pink: RGBA(147, 86, 220, 0.1);

@mixin gradient ($color1, $color2) {
    background: linear-gradient($color1, $color2);
}

@mixin gradient-btn{
    background: linear-gradient($pink-btn, $purple-btn);
}