/* First Preview */
.first-preview {
    @include flex-center(column);
    width: 100%;

    &--menu{
      gap: 20px;
    }
  
    &__intro {
      width: 100%;
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
    
    &__picture{
      
      width: 100%;
      height: 580px;
    
      img{
        @include picsize;
        object-position: 50% 71%;
      }
    }

    &__logo {
      @include flex-center;
      img {
        width: clamped(200px, 280px, 500px, 2560px);
      }
    }
  
    &__navigation {
      @include flex-center;
      padding: 20px;
      @include gradient-nav;
      box-shadow: rgb(0 0 0 / 50%) 0px -2px 5px 0px;
    }
  
    &__search {
      gap: 17px;
      @include flex-center;
  
      & ::placeholder {
        color: black;
        font-weight: bolder;
        width: 100%;
      }
  
      input {
        border: none;
        background-color: inherit;
        font-size: clamped(15px, 20px, 500px, 2560px);
        width: 150px;
      }
    }
  
    &__sc {
      background-color: whitesmoke;
      width: 100%;
      padding: 40px 0 40px 0;
      gap: 10px;
      @include flex-center($direction: column);
      text-align: center;
  
      a {
        text-decoration: none;
      }
    }
  
    &__reserve {
      h1 {
        margin: 0;
      }
    }
  
    &__decouvre {
      color: dimgray;
    }
    &__btn {
      @include flex-center;
      height: 40px;
      border-radius: 45px;
      border: none;
      cursor: pointer;
      color: white;
      padding:clamped(15px, 29px, 500px, 2560px);
      font-size: 20px;
      @include gradient-btn;
      @include shadow-btn;
    }
  }
  