@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");
/* COLOR */
/* GRADIENT */
/* FONT */
/* SHADOW */
/* FLEXBOX */
/* MEDIA QUERRIE */
/* color */ /* First Preview */
.first-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.first-preview__intro {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.first-preview__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.first-preview__logo img {
  width: clamp(12.5rem, 3.88vw + 11.29rem, 17.5rem);
}
.first-preview__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 20px;
  background: linear-gradient(whitesmoke, silver);
  box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 5px 0px;
}
.first-preview__search {
  gap: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.first-preview__search ::placeholder {
  color: black;
  font-weight: bolder;
  width: 100%;
}
.first-preview__search input {
  border: none;
  background-color: inherit;
  font-size: clamp(0.94rem, 0.24vw + 0.86rem, 1.25rem);
  width: 150px;
}
.first-preview__sc {
  background-color: whitesmoke;
  width: 100%;
  padding: 40px 0 40px 0;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.first-preview__sc a {
  text-decoration: none;
}
.first-preview__reserve h1 {
  margin: 0;
}
.first-preview__decouvre {
  color: dimgray;
}
.first-preview__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  height: 40px;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: white;
  padding: clamp(0.94rem, 0.68vw + 0.73rem, 1.81rem);
  font-size: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
}

.last-preview {
  background-color: #353535;
  padding: 20px 100px 40px 100px;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (max-width: 1032px) {
  .last-preview {
    padding: 20px 50px 40px 50px;
  }
}
@media screen and (max-width: 500px) {
  .last-preview {
    padding: 20px 30px 40px 30px;
  }
}
.last-preview__title {
  color: white;
  font-size: clamp(1.25rem, 0.97vw + 0.95rem, 2.5rem);
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.last-preview__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .last-preview__list {
    justify-content: baseline;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0;
  }
}
.last-preview__list li {
  list-style-type: none;
  font-size: clamp(0.94rem, 0.73vw + 0.71rem, 1.88rem);
  color: white;
  padding: 10px;
}
.last-preview__ico {
  padding-right: 10px;
}

* ::before ::after {
  box-sizing: border-box;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.Site {
  display: flex;
  flex-flow: column;
}

/* FAMILY */
h1,
h2 {
  font-family: "Roboto", sans serif;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.25rem, 0.9466rem + 0.9709vw, 2.5rem);
}

p, .first-preview__btn {
  font-family: "Roboto", sans serif;
  font-size: clamp(0.75rem, 0.568rem + 0.5825vw, 1.5rem);
}

/* FUNCT MAIN & REST MAIN */
.group-main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  gap: 40px;
}
@media screen and (max-width: 1032px) {
  .group-main {
    gap: 20px;
  }
}

.funct-main,
.rest-main {
  padding: 60px 100px 60px 100px;
  gap: 40px;
  height: 100%;
}
@media screen and (max-width: 1032px) {
  .funct-main,
.rest-main {
    padding: 60px 50px 60px 50px;
  }
}
@media screen and (max-width: 500px) {
  .funct-main,
.rest-main {
    padding: 60px 30px 60px 30px;
  }
}

/* FUNCT MAIN */
.funct-main {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.funct-main__title {
  display: flex;
  align-self: baseline;
}
.funct-main__contain {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1032px) {
  .funct-main__contain {
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
  }
}
.funct-main__block {
  flex: 0 0 30%;
  height: 100px;
  background: #f6f6f6;
  position: relative;
  border-radius: 25px;
  gap: 20px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  background: #f6f6f6;
}
.funct-main__block:hover {
  background: white;
}
@media screen and (max-width: 1032px) {
  .funct-main__block {
    justify-content: flex-start;
    width: 100%;
    flex-basis: auto;
    text-align: unset;
    height: 80px;
  }
}
.funct-main__block--purple {
  background: rgba(146, 86, 220, 0.2588235294);
}
.funct-main__block--purple:hover {
  background: rgba(201, 171, 238, 0.2588235294);
}
.funct-main__block p {
  font-weight: 600;
  padding-right: 12px;
}
.funct-main__num {
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: -15px;
  color: white;
  font-size: clamp(0.94rem, 0.24vw + 0.86rem, 1.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.funct-main__ico {
  display: inline-flex;
  font-size: clamp(1.38rem, 1.12vw + 1.03rem, 2.81rem);
  color: #949494;
  padding-left: 20px;
}
@media screen and (max-width: 1032px) {
  .funct-main__ico {
    padding-left: 40px;
  }
}
.funct-main__ico--shop {
  color: #9356dc;
}
.funct-main__choose {
  margin: 0;
}

/* REST MAIN */
.rest-main {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.rest-main__block {
  display: flex;
  flex-flow: column nowrap;
  height: 350px;
  box-shadow: 0px 0px 15px 0px #000000;
  border-radius: 10px;
  flex: 1 0 47%;
}
@media screen and (max-width: 1032px) {
  .rest-main__block {
    height: 255px;
  }
}
.rest-main__pic {
  width: 100%;
  height: 73%;
  position: relative;
}
.rest-main__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  object-position: 50% 57%;
}
.rest-main__new {
  position: absolute;
  background-color: #99e2d0;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 10px;
}
.rest-main__new p {
  color: #30a387;
  margin: 0;
  font-weight: 900;
}
.rest-main__title {
  align-self: baseline;
}
.rest-main__descr {
  padding: 0 10px 0 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  position: relative;
  justify-content: center;
  height: 100%;
}
.rest-main__subtitle {
  font-size: clamp(0.94rem, 0.73vw + 0.71rem, 1.88rem);
  font-weight: 900;
}
.rest-main__name {
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.58vw + 0.57rem, 1.5rem);
}
.rest-main__icoheart {
  position: absolute;
  align-self: flex-end;
  top: 50%;
  margin-top: -14px;
  font-size: 2em;
}
.rest-main__icoheart:hover .fa-regular {
  font-weight: bolder;
  font-family: "Font Awesome 6 Free";
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}
.rest-main__contain {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}

/*# sourceMappingURL=style.css.map */
