@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");
/* COLOR */
/* GRADIENT */
/* FONT */
/* SHADOW */
/* IMG */
/* BLOCK */
/* FLEXBOX */
/* MEDIA QUERRIE */
/* color */ /* ICOHEART */
@keyframes menu {
  0% {
    top: 50px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/* First Preview */
.first-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.first-preview--menu {
  gap: 20px;
}
.first-preview__intro {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.first-preview__logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.first-preview__logo-menu img {
  width: clamp(12.5rem, 3.88vw + 11.29rem, 17.5rem);
}
.first-preview__blocklogo {
  width: 100%;
  text-align: center;
}
.first-preview__picture {
  width: 100%;
  height: 475px;
}
@media screen and (max-width: 1032px) {
  .first-preview__picture {
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  .first-preview__picture {
    height: 325px;
  }
}
.first-preview__picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 50% 60%;
}
.first-preview__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.first-preview__logo img {
  width: clamp(12.5rem, 3.88vw + 11.29rem, 17.5rem);
}
.first-preview__arrow {
  display: inline-flex;
  position: absolute;
  left: 20px;
  font-size: 25px;
}
.first-preview__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 20px;
  background: linear-gradient(whitesmoke, silver);
  box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 5px 0px;
}
.first-preview__search {
  gap: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.first-preview__search ::placeholder {
  color: black;
  font-weight: bolder;
  width: 100%;
}
.first-preview__search input {
  border: none;
  background-color: inherit;
  font-size: clamp(0.94rem, 0.24vw + 0.86rem, 1.25rem);
  width: 150px;
}
.first-preview__sc {
  background-color: whitesmoke;
  width: 100%;
  padding: 40px 0 40px 0;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.first-preview__sc a {
  text-decoration: none;
}
.first-preview__reserve h1 {
  margin: 0;
}
.first-preview__decouvre {
  color: dimgray;
}
.first-preview__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  height: 40px;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: white;
  padding: clamp(0.94rem, 0.68vw + 0.73rem, 1.81rem);
  font-size: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
}

.last-preview {
  background-color: #353535;
  padding: 20px 100px 40px 100px;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (max-width: 1032px) {
  .last-preview {
    padding: 20px 50px 40px 50px;
  }
}
@media screen and (max-width: 500px) {
  .last-preview {
    padding: 20px 30px 40px 30px;
  }
}
.last-preview__title {
  color: white;
  font-size: clamp(1.25rem, 0.97vw + 0.95rem, 2.5rem);
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.last-preview__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .last-preview__list {
    justify-content: baseline;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0;
  }
}
.last-preview__list li {
  list-style-type: none;
  font-size: clamp(0.94rem, 0.73vw + 0.71rem, 1.88rem);
  color: white;
  padding: 10px;
}
.last-preview__ico {
  padding-right: 10px;
}

* ::before ::after {
  box-sizing: border-box;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.Site {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: inherit;
  display: contents;
}

/* FAMILY */
h1,
h2 {
  font-family: "Roboto", sans serif;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.25rem, 0.9466rem + 0.9709vw, 2.5rem);
}

p,
.first-preview__btn {
  font-family: "Roboto", sans serif;
  font-size: clamp(0.75rem, 0.568rem + 0.5825vw, 1.5rem);
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  background: radial-gradient(#222, #000);
  z-index: 100;
  animation: apparition 5s;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-delay: 1.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.loading__text {
  font-size: 100px;
  color: #9356dc;
  animation: spin 5s;
}

/* FUNCT MAIN & REST MAIN */
.group-main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  gap: 40px;
}
@media screen and (max-width: 1032px) {
  .group-main {
    gap: 20px;
  }
}

.funct-main,
.rest-main {
  padding: 60px 100px 60px 100px;
  gap: 30px;
  height: 100%;
}
@media screen and (max-width: 1032px) {
  .funct-main,
.rest-main {
    padding: 60px 50px 60px 50px;
  }
}
@media screen and (max-width: 500px) {
  .funct-main,
.rest-main {
    padding: 50px 30px 50px 30px;
  }
}

/* Menu */
.main-menu {
  background: whitesmoke;
  position: relative;
  margin-top: -70px;
  border-radius: 50px 50px 0px 0px;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 1032px) {
  .main-menu {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 500px) {
  .main-menu {
    margin-left: 0;
    margin-right: 0;
  }
}
.main-menu__contain {
  width: -webkit-fill-available;
  background: whitesmoke;
  padding: 23px 100px 60px 100px;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
}
@media screen and (max-width: 1032px) {
  .main-menu__contain {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 500px) {
  .main-menu__contain {
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }
}
.main-menu__first-title {
  font-family: "Shrikhand", cursive;
  font-size: clamp(1.75rem, 1.07vw + 1.42rem, 3.13rem);
}
.main-menu__entrée {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
@media screen and (max-width: 500px) {
  .main-menu__entrée {
    gap: 20px;
  }
}
.main-menu__entrée p {
  margin: 0;
}
.main-menu__subtitle {
  position: relative;
  width: fit-content;
  padding-bottom: 6px;
}
.main-menu__subtitle::after {
  content: "";
  width: 60%;
  height: 15%;
  background: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-menu__subtitle--plats::after {
  width: 85%;
}
.main-menu__subtitle--desserts::after {
  width: 50%;
}
.main-menu__block {
  width: 100%;
  height: 150px;
  background: #f6f6f6;
  position: relative;
  border-radius: 15px;
  align-items: center;
  display: flex;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
  background: #f6f6f6;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  animation: menu 0.99s;
  overflow: hidden;
  cursor: pointer;
}
.main-menu__block:hover {
  background: white;
}
@media screen and (max-width: 1032px) {
  .main-menu__block {
    height: 65px;
  }
}
.main-menu__block:hover .main-menu__check {
  margin-right: 0;
}
.main-menu__block:hover .main-menu__icocheck {
  transform: rotate(0deg);
  transition: transform 1s;
}
.main-menu__headline {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}
.main-menu__icoheart {
  font-size: clamp(1.56rem, 0.97vw + 1.26rem, 2.81rem);
  display: inline-flex;
}
.main-menu__icoheart .fa-regular {
  transition: 1s;
}
.main-menu__icoheart:hover .fa-regular {
  font-weight: bolder;
  font-family: "Font Awesome 6 Free";
  cursor: pointer;
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 1s;
}
.main-menu__block-contain {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.main-menu__subname {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1032px) {
  .main-menu__subname {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.main-menu__price {
  display: flex;
  align-items: flex-end;
  font-size: clamp(0.75rem, 0.58vw + 0.57rem, 1.5rem);
  font-weight: bolder;
}
.main-menu__check {
  width: 150px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -150px;
  transition: 1s;
}
.main-menu__icocheck {
  font-size: 40px;
  color: white;
  transform: rotate(360deg);
  transition: transform 1s;
}
.main-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px 15px 40px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
  align-self: center;
  font-size: clamp(0.63rem, 0.49vw + 0.47rem, 1.25rem);
}
@media screen and (max-width: 1032px) {
  .main-menu__btn {
    padding: 10px 25px;
  }
}

/* FUNCT MAIN */
.funct-main {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.funct-main__title {
  display: flex;
  align-self: baseline;
}
.funct-main__contain {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 1032px) {
  .funct-main__contain {
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  .funct-main__contain {
    gap: 25px;
  }
}
.funct-main__block {
  flex: 0 0 30%;
  height: 100px;
  background: #f6f6f6;
  position: relative;
  border-radius: 25px;
  gap: 20px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  background: #f6f6f6;
}
.funct-main__block:hover {
  background: white;
}
@media screen and (max-width: 1032px) {
  .funct-main__block {
    justify-content: flex-start;
    width: 100%;
    flex-basis: auto;
    text-align: unset;
    height: 80px;
  }
}
.funct-main__block--purple {
  background: rgba(146, 86, 220, 0.2588235294);
}
.funct-main__block--purple:hover {
  background: rgba(201, 171, 238, 0.2588235294);
}
.funct-main__block p {
  font-weight: 600;
  padding-right: 12px;
}
.funct-main__block--menu {
  flex: auto;
}
.funct-main__num {
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  left: -15px;
  color: white;
  font-size: clamp(0.94rem, 0.24vw + 0.86rem, 1.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.funct-main__ico {
  display: inline-flex;
  font-size: clamp(1.38rem, 1.12vw + 1.03rem, 2.81rem);
  color: #949494;
  padding-left: 20px;
}
@media screen and (max-width: 1032px) {
  .funct-main__ico {
    padding-left: 40px;
  }
}
.funct-main__ico--shop {
  color: #9356dc;
}
.funct-main__choose {
  margin: 0;
}

/* REST MAIN */
#rest-main__title {
  align-self: baseline;
}

.rest-main {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.rest-main__block {
  display: flex;
  flex-flow: column nowrap;
  height: 350px;
  box-shadow: 0px 0px 15px 0px #000000;
  border-radius: 10px;
  flex: 1 0 47%;
}
@media screen and (max-width: 1600px) {
  .rest-main__block {
    height: 280px;
  }
}
@media screen and (max-width: 1032px) {
  .rest-main__block {
    height: 255px;
  }
}
@media screen and (max-width: 500px) {
  .rest-main__block {
    height: 200px;
  }
}
.rest-main__pic {
  width: 100%;
  height: 73%;
  position: relative;
}
.rest-main__pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-position: 50% 57%;
}
.rest-main__new {
  position: absolute;
  background-color: #99e2d0;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 10px;
}
.rest-main__new p {
  color: #30a387;
  margin: 0;
  font-weight: 900;
}
.rest-main__descr {
  padding: 0 10px 0 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  position: relative;
  justify-content: center;
  height: 100%;
}
.rest-main__subtitle {
  font-size: clamp(0.94rem, 0.73vw + 0.71rem, 1.88rem);
  font-weight: 900;
}
.rest-main__subtitle__menu {
  font-family: "Roboto", sans serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 50px;
}
.rest-main__name {
  margin: 0;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.58vw + 0.57rem, 1.5rem);
}
.rest-main__icoheart {
  position: absolute;
  align-self: flex-end;
  font-size: clamp(1.56rem, 0.97vw + 1.26rem, 2.81rem);
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.rest-main__icoheart:hover .fa-regular {
  font-weight: bolder;
  font-family: "Font Awesome 6 Free";
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}
.rest-main__contain {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 500px) {
  .rest-main__contain {
    row-gap: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
