@import url("https://fonts.googleapis.com/css2? famille=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* ::before ::after {
  box-sizing: border-box;
}

body {
  margin-left: 0;
  margin-right: 0;
}

h1,
h2 {
  font-family: "Roboto", cursive;
  font-size: xxx-large;
  margin: 0;
  font-weight: 900;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.Site {
  display: flex;
  flex-flow: column;
  gap: 40px;
}

/* First Preview */
.first-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.first-preview__intro {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.first-preview__logo {
  display: flex;
  justify-content: center;
}
.first-preview__logo img {
  width: 280px;
}
.first-preview__navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(whitesmoke, silver);
  box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 5px 0px;
}
.first-preview__search {
  display: flex;
  gap: 17px;
  position: relative;
  left: 40px;
  align-items: center;
}
.first-preview__search ::placeholder {
  color: black;
  font-weight: bolder;
  width: 100%;
}
.first-preview__search input {
  border: none;
  background-color: inherit;
  font-size: large;
}
.first-preview__sc {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0 40px 0;
  gap: 20px;
}
.first-preview__sc a {
  text-decoration: none;
}
.first-preview__reserve h1 {
  margin: 0;
}
.first-preview__btn {
  height: 40px;
  border-radius: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 0px 5px 0px #000000;
  color: white;
  padding: 29px;
  font-size: 20px;
}

/* FUNCT MAIN & REST MAIN */
.group-main {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  gap: 40px;
}

.funct-main,
.rest-main {
  padding: 60px 70px 60px 70px;
  gap: 40px;
  height: 100%;
}

/* FUNCT MAIN */
.funct-main {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.funct-main__title {
  display: flex;
  align-self: baseline;
}
.funct-main__contain {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.funct-main__block {
  width: 30%;
  height: 200px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 40px;
}
.funct-main__block--purple {
  background: RGBA(147, 86, 220, 0.1);
}
.funct-main__num {
  background-color: #9356dc;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15px;
  color: white;
}
.funct-main__ico {
  display: flex;
  height: auto;
  align-items: center;
  font-size: 45px;
  position: absolute;
  left: 15%;
}
.funct-main__ico--shop {
  color: #9356dc;
}
.funct-main__choose {
  position: absolute;
  left: 30%;
  margin: 0 5px 0 20px;
  text-align: center;
}

/* REST MAIN */
.rest-main {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.rest-main__block {
  width: 45%;
  height: 300px;
  border: black solid 2px;
}
.rest-main__block img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.rest-main__contain {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  row-gap: 80px;
}

/*# sourceMappingURL=style.css.map */
