@mixin btn{
    @include flex-center;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 40px 15px 40px;
    @include gradient-btn;
    @include shadow-btn;
    align-self: center;
    @include tab-vp{
        padding: 10px 25px;
    }
}