@keyframes menu {
    0%{
        top: 50px;
    }

    50%{
        opacity: 0.5;
    }
    
    100%{
        opacity: 1;
        top: 0;
    }
}

@keyframes spin {
    0%{
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes apparition{
    100%{    
    z-index: -100;
    opacity: 0;
    }
}