/* color */ 
$pink-btn: #ff79da;
$purple-btn: #9356dc;
$black-end: #353535;
$little-pink: #9256dc42;
$flex : flex;
$align-primary: initial;
$color: black!default;
$little-white: #f6f6f6;
$border-green: #99E2D0;


